html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='select.css')
  body
    .container
      .login
        a(href='login')
          button.button1 Login
      .create
        a(href='create')
          button.button2 Create Account